body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lightblue;
    background-size: cover;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-position: top, center;
  background-size: 500px, 500px;
}

h1 {
  font-weight: bolder;
  text-align: center;
}
 .logo {
   background-color: blue;
   text-decoration-color: black;
 }
