body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lightblue;
    background-size: cover;

}

.title {
  font-family: fantasy;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}
.banner {

  width: 99%;
  height: auto;
  margin: 0px;
  padding: 0px;


}
main {
  height: 100%;
}
h1 {
  font-weight: bolder;
  text-align: center;
}

h3, h5{
  font-family: cursive;
  font-style: oblique;
  text-align: center;
  padding-left: 250px
}

.logo {
  background-color: white;
  border-radius: 40em;
  height: 150px;
  width: 200px;
  border-color: white;
  border-style: dotted;
  border-width: medium;
  margin-top: -70px;
  margin-left: 100px;
 }

#about, #contact, #news{
  font-family: fantasy;
  text-align: center;
  color: currentColor;
  word-wrap: normal;
  margin-top: 100;
  background-color: lightblue;
  padding-left: 250px;

}







footer {
  float: right;
  position: sticky;
  background-color: lightblue;
  text-align: top;
  text-shadow: black;
  font-family: cursive;
}
