.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: lightblue;
}
.sidebar li a {
    display: block;
    width: 200px;
    color: black;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

 .sidebar h4{
   font-style: italic;
   font-family: cursive;
 }
.sidebar {
  float: left;
}
