.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
.sidebar li a {
    display: block;
    width: 200px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
    width: 200px;
}
 .sidebar h4{

 }
.sidebar {
  float: left;
}
